.navbar-dark .nav-item .nav-link {
  color: white;
  font-weight: bold;
  margin-left: 30px;
}
nav {
  background-color: #00093f;
}

/* Gaya untuk tombol toggle */
.navbar-toggler {
  border: none; /* Hilangkan border */
  background: transparent;
}

/* Gaya untuk setiap garis pada ikon toggle */
.navbar-toggler-icon-bar {
  display: block;
  width: 30px; /* Lebar garis */
  height: 3px; /* Tinggi garis */
  margin: 4px auto; /* Jarak antar garis */
  background-color: #ffffff; /* Warna garis */
  transition: all 0.3s ease; /* Animasi (opsional) */
}
